<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Info</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/more-info.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="box">
                <div class="content">
                    <h3>Origins:</h3>
                    <p>Artist Name: {{.Name}}</p>
                    <p>Date Created: {{.CreationDate}}</p>
                    <p>First Album: {{.FirstAlbum}}</p>
                    <a href="/explore">Back</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h3>The members are:</h3>
                    {{range .Members}}
                    <ul>
                        <li>{{.}}</li>
                    </ul>
                    {{end}}
                    <a href="/explore">Back</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h3>Last and/or upcoming concert dates:</h3>
                    {{range $key, $value := .PlacesDates}}
                    <ul>
                        <li>
                            {{$key}}
                            {{range $value}}
                            <ul>
                                <li>
                                    {{.}}
                                </li>
                            </ul>
                            {{end}}
                        </li>
                    </ul>
                    {{end}}
                    <a href="/explore">Back</a>
                </div>
            </div>
        </div>
</body>
</html>